[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
ethon = "*"
motor = "*"
heroku3 = "*"
pytube = "*"

[dev-packages]

[requires]
python_version = "3.9"
